COMPOSE_PROJECT_NAME=hidechat

POSTGRES_DB=hidechat_dev
POSTGRES_USER=hidechat_dev
POSTGRES_PASSWORD=hidechat_dev
POSTGRES_SCHEMA=hidechat
POSTGRES_PORT=5432

REDIS_PORT=6379

SPRING_PROFILES_ACTIVE=dev
HIDECHAT_JWT_SECRET=hidechat-dev-secret-key-hidechat-dev-secret-key-2026
BACKEND_PORT=8080
FRONTEND_PORT=5173
GATEWAY_PORT=80
